
html {
  background-image: url('../img/1121.jpg') beige;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: beige;
}
header {
  color: yellow;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
}
body{
  font-size: 20px;
  color: black;

}
