
html {
  background-image: url('https:\\lexis69541.github.io\portfolio\1121.jpg') orange;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header {
  color: yellow;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
}
body{
  font-size: 20px;
  color: white;

}
